body,html { /*keep this style in mind because it will make thing easier for me*/
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
    background: url(cutecat.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}